<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
        html, body {
          background-color: #121212;
          max-width: 500px;
          margin: auto;
          color: white;
          height: 100%;
          vertical-align: middle;
        }
        a {
          color: white;
          text-decoration:none;
        }
      </style>
  </head>

  <body>
    <div class="main">
        <img src="/static/dongguk.jpg" style="float: left; margin-right: 20px;
        margin-bottom: 10px; width:40px; height:40px;" / >
        <div class="message_board"> 
            <h1><a href="{{url_for('lists')}}"> Message Board </a></h1>
        </div>
    </div>

    <table>
      <form name="form" method="POST" action="/edit/{{data._id}}">
        <thead>
          <caption>
            <h3>게시글 수정</h3>
          </caption>
        </thead>
        <tbody>
          <tr>
            <td>작성자</td>
            <td>
              <input type="text" name="name" value="{{data.name}}" readonly />
            </td>
          </tr>
            <td>내용</td>
            <td><textarea name="contents">{{data.contents}}</textarea></td>
          </tr>
          <tr>
            <td colspan="2"><input type="submit" value="수정하기" /></td>
          </tr>
        </tbody>
      </form>
    </table>
    <p>
        <a href="{{url_for('lists')}}"> 수정 취소 </a>
      </p>
  </body>
</html>
